* { box-sizing: border-box;}


.background {
  animation: move 13s steps(1000) infinite forwards;
}

.ground {
  animation: move 10s steps(1000) infinite forwards;
}

.enemy {
  animation: walk 10s steps(1000) infinite forwards;
}

.enemy3 {
  animation: walk 10s steps(1000) infinite forwards;
}



@keyframes move {
  100% { background-position: -1680px 0px; }
}

@keyframes walk {
  100% { margin-left: 1024px;  transform: scale(1.2);  }
}

@keyframes jump {
  50% { bottom: 226px; }
  100% { bottom: 113px; }
}

@keyframes slide-left {
  100% { margin-right: 1024px; }
}

@keyframes down-up {
  50% { margin-top: 200px;}
  100% { margin-top: 0px; }
}



.background {
  width: 1024px;
  height: 468px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-image: url("images/fondo.jpg");
  margin: 0 auto;
}

.ground {
  background-image: url("images/fondo2.jpg");
  width: 1680px;
  height: 113px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.enemy {
  background-image: url("images/cosa3.gif");
  width: 110px;
  height: 35px;
  position: absolute;
  opacity: 0.7;
  bottom: 255px;
  margin-left: -175px;
}



.nintend-boy {
  background-color: #3B3B3B;
  margin-top: 10%;
  margin-left: 10%;
  width: 973px;
  height: 390px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.left{
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  background-color: #2389BB;
  width: 14%;
  height: 100%;
  float: left;

}

.pantalla{
  margin: 10px;
  border-radius: 10px;
  background-color: #3B3B3B;
  width: 69.9%;
  height: 93%;
  float: left;
  border: 30px solid black;
  border-left: 50px solid black;
  border-right: 50px solid black;
}

.right{
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: #FD252B;
  width: 14%;
  height: 100%;
  float: left;

}




/* MANDOS */


.cruz_izq {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:100px;
  margin-top:-200px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;

  border-bottom: 10px solid #223;
}
/* esta es la de abajo */
.cruz_arriba {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:200px;
  margin-top:0px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;
border-right: 10px solid #333;
  border-bottom: 10px solid #223;
}
.cruz_centro {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:200px;
  margin-top:-200px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;

}
/* esta es la de arriba */
.cruz_abajo {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:200px;
  margin-top:-200px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;
  border-right: 10px solid #333;

}
.cruz_derecha {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:300px;
  margin-top:0px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;
  border-right: 10px solid #333;
  border-bottom: 10px solid #223;
}
.botono {
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #0f0f0f;
     color: #0f0f0f;
     margin-left:230px;
     margin-top:-70px;
     border-left: 5px solid #333;
     border-top: 5px solid #223;
}
.triangulo_izq {
  width: 0;
 height: 0;
 border-left: 50px solid #0f0f0f;
 border-top:25px solid transparent;
 border-bottom: 25px solid transparent;
 margin-left:120px;
 margin-top:-50px;
 transform: rotate( -180deg );

}
.triangulo_arr {
  width: 0;
 height: 0;
 border-left: 50px solid #0f0f0f;
 border-top:25px solid transparent;
 border-bottom: 25px solid transparent;
 margin-left:220px;
 margin-top:-150px;
 transform: rotate( -90deg );
}
.triangulo_aba {
  width: 0;
 height: 0;
 border-left: 50px solid #0f0f0f;
 border-top:25px solid transparent;
 border-bottom: 25px solid transparent;
 margin-left:220px;
 margin-top:150px;
 transform: rotate( -270deg );
}
.triangulo_der {
  width: 0;
 height: 0;
 border-left: 50px solid #0f0f0f;
 border-top:25px solid transparent;
 border-bottom: 25px solid transparent;
 margin-left:330px;
 margin-top:-150px;
 transform: rotate( -0deg );
}
